@import "../css/styleguide.scss";
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  min-height: 100%;


}
body {
  height: 100%;
  background: $background;
}

.snow {
background: $backgroundSnow !important;

}

.warm {
  background: $backgroundWarm !important;
}

.cold {
  background: $backgroundCold;

}

#root,
.App {
  height: auto;
}
